.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 918px) {
  .header__logo {
    padding-left: 30px;
  }
}

@media screen and (max-width: 550px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}