.popup__overlay {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.popup__overlay_type_img {
  background-color: rgba(0,0,0,0.9);
}