.header__info {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 0;
}

@media screen and (max-width: 918px) {
  .header__info {
    padding-right: 30px;
  }
}