.profile__edit-button {
  grid-area: edit-button;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-button.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border: 1px solid white;
  transition: opacity .5s linear;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 5.25px 5.25px;
  }
}