.sign__title {
  padding-bottom: 20px;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: white;
  align-self: center;
}

@media screen and (max-width: 550px) {
  .sign__title {
    padding-bottom: 10px;
  }
}