.element__info {
  background-color: white;
  color: black;
  border-radius: 0 0 10px 10px;
  padding: 22px 20px 22px 21px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}