.header {
  padding: 45px 0 41px;
  margin: auto;
  max-width: 880px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 918px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding: 28px 0 31.6px;
  }
}