.element__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/disliked.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: none;
  transition: opacity .5s linear;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.5;
}
